tr#green {
	background-color: #0BA40B;
	color: #2AE4D9;
}
	tr#blue{
		background-color: #8EF8F4
	}
	tr.pink {
		background-color: #EAB3B3
	}
	table {
		color: #9F9292;
	}
	.rose {
		color: #2AE4D9;
	}
	