html, body, div {
	margin: 0;
	padding: 0;
}
body {
	background-color: #816A6A;
	font-size: 40px;
}
#wrapper {
	width: 80%;
	margin-left: 10%;
	background-color: #FD992E;
}
#header {
	height: 120px;
	background-color: #BDE8C3;
}
#content {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}
#main {
	width: 77%;
	height: 600px;
	background-color: #85B7F0;
}
#sidebar {
	width: 20%;
	height: 600px;
	background-color: #3740F3;
	position: absolute;
	top: 20px;
	left: 80%;
}
#footer {
	height: 100px;
	background-color: #2C0B0B;
	color: #FFFFFF;
}
